<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
    {{>navbar}}

    
    <div class="container-fluid main_header">
        <div class="row">
 
            <div class="col-md-10 col-14 mx-auto">
                <div class="row">

                    
                    <div class="col-md-6 col-12 main_header_right align-items-centre">
                        
                        <figure>
                            <img src="images/sss-removebg.png" alt="vishnu" class="img-fluid" height="50px">
                        </figure>
                    </div>
                    
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app ⛈️</p>
                        <h1>I Am A <span class="text">Mern Stack Developer</span>. </h1>
                        <a href="https://www.geeksforgeeks.org/mern-stack/" target="_vishnu"><button>About MERN</button></a>
                    </div>


                </div>


        
            </div>
        </div>
    </div>    

    {{>footer}}
  
</body>


</html>